{% extends "user/bars.html.twig" %}


{% block contenpage %}

<div class="page-title">
    <div class="title_left">
        <h5 style="font-weight: 600;">consulter votre dossier</h5>
    </div>
</div>
<div class="main-content">

<div class="container">
   <div class="row">
            <div class="col-md-3 col-lg-3">
</div>
      <div class="col-md-6 col-lg-6">
         <div id="tracking-pre"></div>
         <div id="tracking">
            
            <div class="tracking-list">
                 <div class="tracking-item">
                  <div class="tracking-icon status-outfordelivery">
                       <i class="fa fa-hourglass-end" aria-hidden="true"></i>

                     <!-- <i class="fas fa-shipping-fast"></i> -->
                  </div>
                  <div class="tracking-date">Jul 10, 2022<span>08:08 AM</span></div>
                  <div class="tracking-content">Votre dossier est en attente de la commission<span>Mastère de recherche	en Sciences et Techniques de l'Audiovisuel et du cinéma</span></div>
               </div>
               <div class="tracking-item">
                  <div class="tracking-icon status-outfordelivery">
                     <i class="fa fa-clock-o" aria-hidden="true"></i>

                     <!-- <i class="fas fa-shipping-fast"></i> -->
                  </div>
                  <div class="tracking-date">Jul 20, 2022<span>08:08 AM</span></div>
                  <div class="tracking-content">Traitement de dossier par l'établissement<span>Mastère de recherche	en Sciences et Techniques de l'Audiovisuel et du cinéma</span></div>
               </div>
             
               <div class="tracking-item">
                  <div class="tracking-icon status-outfordelivery">
                   <i class="fa fa-users" aria-hidden="true"></i>

                     <!-- <i class="fas fa-circle"></i> -->
                  </div>
                  <div class="tracking-date">Jul 23, 2022<span>12:06 PM</span></div>
                  <div class="tracking-content">Votre dossier est validé par la commsion de master de votre établissement<span>Mastère de recherche	en Sciences et Techniques de l'Audiovisuel et du cinéma</span></div>
               </div>
               <div class="tracking-item">
                  <div class="tracking-icon status-outfordelivery">
                      <i class="fa fa-university" aria-hidden="true"></i>

                     <!-- <i class="fas fa-shipping-fast"></i> -->
                  </div>
                  <div class="tracking-date">Jul 26, 2018<span>08:32 AM</span></div>
                  <div class="tracking-content">Traitement de dossier par la commission de vérification de master dans l'université de carthage<span>Mastère de recherche	en Sciences et Techniques de l'Audiovisuel et du cinéma</span></div>
               </div>
               <div class="tracking-item">
                  <div class="tracking-icon status-intransit">
               <i class="fa fa-check-square" aria-hidden="true"></i>

                     <!-- <i class="fas fa-circle"></i> -->
                  </div>
                  <div class="tracking-date"><span></span></div>
                  <div class="tracking-content">Dossier validé par la commission de vérification de master dans l'université de carthage <span>Mastère de recherche	en Sciences et Techniques de l'Audiovisuel et du cinéma</span></div>
               </div>
              
               <div class="tracking-item">
                  <div class="tracking-icon status-intransit">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                     <!-- <i class="fas fa-circle"></i> -->
                  </div>
                  <div class="tracking-date"><span></span></div>
                  <div class="tracking-content">Votre condidature est accepté<span>Mastère de recherche	en Sciences et Techniques de l'Audiovisuel et du cinéma</span></div>
               </div>
              
              
            </div>
         </div>
      </div>
   </div>
</div>
</div>
{% endblock %}
