{% extends "user/main.html.twig" %}



<div id="calendrier">




</div>
{% block javascript %}
<script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendrier');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'timeGridWeek',
          timezone: 'Africa/ Tunis',
          locale: 'FR',
          headerToolbar: {
            start: 'prev, next today',
            center: 'title',
            end: 'dayGridMonth, timeGridWeek'
          },
          events: {{ data|raw }}
        });
        calendar.render();
      });

    </script>
{% endblock %}